<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <p th:text="${class.getDescription()}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h4 class="card-title">Proficiencies</h4>
                <p class="card-text"><b>Armour: </b>All armour and shields, as long as prerequisites are met.</p>
                <p class="card-text"><b>Weapons: </b>All swords, as long as prerequisites are met.</p>
                <p class="card-text"><b>Saving Throws: </b><span th:text="${savingThrowList}"></span></p>
                <p class="card-text"><b>Skills: </b><span th:text="${skillList}"></span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h4 class="card-title">Starting Equipment</h4>
                <ul>
                    <li th:each="item : ${class.getStartingItems()}" th:text="${item}">
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <tr>
                        <th>Level</th>
                        <th>Proficiency Bonus</th>
                        <th th:unless="${class.getSpecialSlots() == null}"
                            th:text="${class.getSpecialSlots().getName()}"></th>
                        <th>Class Features</th>
                    </tr>
                    <tr th:each="row, iStat : ${classFeatureTable}">
                        <td th:text="${row.getLevel()}"></td>
                        <td th:text="${'+' + row.getProficiencyBonus()}"></td>
                        <td th:unless="${class.getSpecialSlots() == null}"
                            th:text="${class.getSpecialSlots().getLevels().get(iStat.index)}"></td>
                        <td th:text="${row.getFeatures()}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-10">
                <button type="button" class="btn btn-pill btn-primary"
                        th:onclick="|submitBuilderClass(${character.getId()}, ${class.getId()})|"
                        th:text="${'Select ' + class.getName() + ' as your class'}">
                </button>
            </div>
        </div>
    </div>
</div>
