.dsb-body:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background: #2f3237;
}

.dsb-body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    background: url("/images/characters-background.jpg") no-repeat center center fixed;
    background-size: cover;
}
