<div class="row">
    <div class="col-sm" th:each="entry : ${character.getAbilityScores()}">

        <div class="card mb-4" data-toggle="modal" th:data-target="${'#ability-' + entry.getKey().ordinal()}">
            <div class="card-body">
                <p class="card-title mb-0">
                    <span th:text="${entry.getKey().getName()}"></span>
                    <span class="text-success"
                          th:if="${entry.getValue().getRollType()} != null and ${entry.getValue().getRollType().ordinal()} == 0">A</span>
                    <span class="text-warning"
                          th:if="${entry.getValue().getRollType()} != null and ${entry.getValue().getRollType().ordinal()} == 1">D</span>
                </p>
                <p class="card-text"
                   th:text="|${entry.getValue().getMod()} (${abilityScoreModifiers.get(entry.getKey()).getModSigned()})|"></p>
            </div>
        </div>

        <div class="modal fade" th:id="${'ability-' + entry.getKey().ordinal()}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${entry.getKey().getName() + ' Modifiers'}"></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li th:each="modifier : ${character.getAbilityScoreModifiers().get(entry.getKey())}"
                                th:text="${modifier}">
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
