<button class="btn btn-pill btn-warning btn-fill" data-toggle="modal" data-target="#short-rest"><i class="fa fa-fire"></i> Short rest</button>

<div class="modal fade" id="short-rest" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Short Rest</h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Your remaining hit dice: ${character.getOrigin().getPositionDice().getExpression(character.getPositionDice())}|"></p>
                <label for="position-dice-input">Number of hit die used:</label>
                <input type="text" class="form-control" id="position-dice-input">
                <label for="position-roll-input">Your roll:</label>
                <input type="text" class="form-control" id="position-roll-input">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" th:onclick="|shortRest(${character.getId()})|">Confirm Short Rest</button>
            </div>
        </div>
    </div>
</div>
